$text: #000;
$text-secondary: #646464;
$text-contrast: #fff;

$primary: #2f54eb;
$secondary: #fa8c16;
$accent: #52c41a;
$bg-light: #fff;
$bg-dark: #f5f6fe;

$btn-text: #fff;
$btn-bg: #fa8c16;
$btn-bg-hover: #f16e00;
$btn-bg-focus: #f16e00;
$btn-bg-active: #e16803;
$btn-bg-disabled: #fcc58a;

$input-bg: #f5f6fe;
$input-text: #222;
$input-caret: #2f54eb;
$input-placeholder: #646464;

$input-brd: #f5f6fe;
$input-brd-filled: #f5f6fe;
$input-brd-hover: #6d87f1;
$input-brd-focus: #2f54eb;
$input-brd-error: #b00;

$input-lbl-filled: #646464;
$input-lbl-hover: #2f54eb;
$input-lbl-focus: #2f54eb;
$input-lbl-error: #b00;

$radio-brd: #f5f6fe;
$radio-brd-hover: #fa8c16;
$radio-brd-active: #fa8c16;
$radio-icon: #fa8c16;
